

.welcome-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: #fff;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  margin-right: 12px;

  button{
    margin-top: 24px;
    border-radius: 99px;
    padding: 8px 24px;
    background-color:  var(--black);
    color: #fff;
    border: 1px solid #fff;
  }

  button:hover{
    background-color: #fff;
    color: var(--black);
    border: 1px solid var(--black);
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: clamp(30vw, 7vw, 400px);
    width: 100%;

    h2{
      text-align: center;
      width: 100%;
      margin-bottom: 24px;
    }

    label{
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      color:#ffffff;
      width: 100%;

      input{
        border: 1px solid #333;
        border-radius: 99px;
        padding: 8px 12px;
        width: 100%;
        color:#fff;
        transition: max-width 0.5s ease;
      }

    }

    .checkbox{
      flex-direction: row-reverse;
      align-items: center;
      justify-content: start;
      gap: 12px;
      font-size: 14px;
      input{
        width: max-content;
      }
    }

    .form-btns{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      gap: 16px;

      :first-child{
        background-color: #fff;
        color: var(--black);
      }

      :first-child:hover{
        border: 1px solid #fff;
      }
    }
  }

  .last-step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 clamp(15vw, 7vw, 300px);

    .cards{
      display: grid;
      margin-top: 24px;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(10vh, 30vh);
      column-gap: clamp(8px, 7vw, 24px);
      row-gap: clamp(8px, 7vw, 24px);


      .card{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px;
        overflow: hidden;
        background-color: var(--dark);
        padding: 1vw;
        cursor: pointer;

        h4,p{
          z-index: 100
        }
        p{
          font-size: 14px;
        }

        img{
          border-radius: 50%;
          width: clamp(48px, 10vw , 96px);
          height: clamp(48px, 10vw , 96px);
          z-index: 0;
        }

        div{
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: 8px;
          height: 40%;
        }
      }
      .card:hover{
        box-shadow: 0 0 50px 0 #ffffff30;
        scale: 1.05;
      }
      .card--selected{
        border: 1px solid #fff;
        scale: 1.03;
      }
    }
  }
}